/****************************************************/
/*       Index.css                                  */
/****************************************************/
/*       Table of Contents                          */
/*                                                  */
/*       Header                                     */
/*          Navigation                              */
/*       Main                                       */
/*          Game Board                              */
/*          Aside                                   */
/*          How to Play                             */
/*          Contact Info                            */
/*          Feedback                                */
/*       Footer                                     */
/****************************************************/
html{
  background: black;
}
#root{
  height: 100%;
}
/****************************************************/
/* vvvvv Header Section vvvvvvvvvvvvvvvvvvvvvvvvvvv */
header {
  background: rgb(70, 67, 67);
  /* background: rgb(19, 19, 17); */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* padding-right: 20px; */
  width: 100vw;
  margin-right: 20px;
  /* border: 1px solid red; */
  font-family: 'Marvel-Regular', sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
}
header h1 a {
  text-decoration: none;
  color: white;
  padding: 0;
}
header h1{
  padding: n0;
  margin: 0;
}
/* ^^^^^ Header Section ^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/****************************************************/
/* ------------------------------------------------ */
/****************************************************/
/* vvvvv Navigation Section vvvvvvvvvvvvvvvvvvvvvvv */
.nav {
  display: inline-block;
  /* border: 1px solid red; */
  align-items: right;
  margin-right: 20px;
} 
nav a {
  color: white;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.2em;
  text-decoration: none;
  font-family: 'Marvel-Regular', arial, sans-serif;
}
header nav li {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
header nav li:hover {
  background: #282c34;
  border-radius: 5px;
}
/* ^^^^^ Navigation Section ^^^^^^^^^^^^^^^^^^^^^^^ */
/****************************************************/
/* ------------------------------------------------ */
/****************************************************/
/* vvvvv Main Section vvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
.main{
  position: absolute;
  width: 100vw;
  height: 90%;
  /* You can also add top: 0 and left:0 */
}
.partition{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100%;
}
/* v-v-v GameBoard Sub-section v-v-v-v-v-v-v-v-v-v- */
.flex-container {
  grid-column: 1;
  display: flex;
  justify-content: start;
  flex-wrap: wrap; 
  margin-bottom: auto;
}
.flex-cell {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0.5rem;
  box-sizing: border-box;
}
.flex-cell:before {
  content: '';
  display: table;
  padding-top: 100%;
}
.flex-item {
  flex-grow: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  border-radius: 10%;
}
/* ^-^-^ GameBoard Sub-section ^-^-^-^-^-^-^-^-^-^- */
/* v-v-v How to Play Sub-section v-v-v-v-v-v-v-v-v- */
.how-to-play{
  /* display: none; */
  color: white;
}
/* ^-^-^ How to Play Sub-section ^-^-^-^-^-^-^-^-^- */
/* v-v-v Contact Info Sub-section v-v-v-v-v-v-v-v-v */
.contact-info{
  /* display: none; */
  color: white;
}
/* ^-^-^ Contact Info Sub-section ^-^-^-^-^-^-^-^-^ */
/* v-v-v Feedback Sub-section v-v-v-v-v-v-v-v-v-v-v */
.feedback{
  /* display: none; */
  color: white;
}
/* ^-^-^ Feedback Sub-section ^-^-^-^-^-^-^-^-^-^-^ */

/* ^^^^^ Main Section ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/****************************************************/
/****************************************************/
/* vvvvv Aside Section vvvvvvvvvvvvvvvvvvvvvvvvvvvv */
aside {
  grid-column: 2;
  /* border: 1px solid red; */
  background: rgba(19, 19, 17, .7);
  color: white;
  /* display none allows for the aside to be hidden, this just for testing currently. */
  /* display: none; */
  overflow-y: scroll;
}
.aside-header {
  background: rgba(70, 67, 67, .7);
  height: 50px;
  text-align: center;
}
/* "scrolling box" */
.bio-container{
  /* overflow-y: scroll; */
}
.bio-item {
  display: inline-block;
  padding: 10px;
  font-family: 'StanLee-Regular', Arial, sans-serif;
}
.wiki-link{
  text-decoration: none;
  color: white;
  /* padding-left: 10px; */
}
/* .name {
  padding-left: 10px;
} */
img{
  height: 100px;
  /* width: 100px; */
}
/* currently unused aside class names */
/* .char-name */
/* .bio-item */
/* .char-thumb*/
/* .char-description */
/* .char-name */
iframe{
  width: 100%;
  height: 100vw;
}

/* ^^^^^ Aside Section ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/****************************************************/
/* ------------------------------------------------ */
/****************************************************/
/* vvvvv Footer Section vvvvvvvvvvvvvvvvvvvvvvvvvvv */
footer {
  /* border: 1px solid red; */
  background: rgb(70, 67, 67);
  color: white;
  /* display: block; */
  /* align-items: middle; */
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 5%;
  min-height: 40px;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 0;
}
/* ^^^^^ Footer Section ^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/****************************************************/

/****************************************************/
/*       End of File                                */
/****************************************************/
@font-face {
  font-family: "StanLee-Regular";
  src: url('/public/StanLee-Regular.otf');
}
@font-face {
  font-family: "MarvelRegular";
  src: url('/public/MarvelRegular-Dj83.ttf');
}